.input_div {
  display: flex;
  flex-direction: column;
}

.input_div label {
  padding: 0 0 0.6rem 0;
  font-weight: bold;
}

.input_div input {
  padding: 0.6rem;
  border: none;
  border-radius: 1px;
  margin-bottom: 1rem;
}

.input_div input:focus {
  outline: none;
}
